/.venv
/venv
/testvenv
/myvenv
.env
*.pyc
ingr
to_vegetarian_recipe_transformation.txt
to_vegetarian_original_recipe.txt
to_nonvegetarian_recipe_transformation.txt
to_nonvegetarian_original_recipe.txt
to_healthy_recipe_transformation.txt
to_healthy_original_recipe.txt
to_unhealthy_recipe_transformation.txt
to_unhealthy_original_recipe.txt
to_indian_recipe_transformation.txt
to_indian_original_recipe.txt
half_recipe_amount_transformation.txt
half_amount_original_recipe.txt
double_recipe_amount_transformation.txt
double_amount_original_recipe.txt
to_lactose_free_recipe_transformation.txt
to_lactose_free_original_recipe.txt